[build]
  command = "bundle exec jekyll build"
  publish = "_site"
  functions = "netlify/functions"

[dev]
  command = "bundle exec jekyll serve --port 4000"
  port = 8888
  targetPort = 4000
  autoLaunch = true

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404